pip install langchain
pip install langchain_community langchain_chroma
pip install tqdm
pip install unstructured
pip install python-magic-bin
pip install langchain_chroma langchain_openai
pip install azure-identity